@import "../../assets/styles/color.scss";

.button_back {
  border: none;
  // прозрачный фон
  background-color: transparent;
  width: 100px;
  cursor: pointer;
  .back {
    font-size: 50px;
    padding: 5px;
    color: $color_blue;
  }
}
.button_back:disabled {
  visibility: hidden;
}
